#HeaderSection{
    background-color: black;
    color: red;
}
#HeaderSection div{
   display: inline-block;
}
#HeaderSection div ul li{
    display: inline-block;
} 
#HeaderSection #left{
    width: 80%;
}
#HeaderSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
